@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

::-webkit-scrollbar{
    width: 16px;
    background: #000;
}

::-webkit-scrollbar-thumb{
    background-image: radial-gradient( black, rgb(112, 2, 112));
    border-radius: 100vh;
}

html{
    scroll-behavior: smooth;
}

header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: rgba(134, 39, 223, 0.739);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header .logo{
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    
}

header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li{
    list-style: none;
    margin: 0 20px;
}

header .navigation li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 700ms;
}

header .navigation li a:hover{
    color:rgb(255, 209, 4);
    letter-spacing: 5px;
}

header .search{
    position: relative;
    width: 300px;
    height: 40px;
}

header .search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}

header .search input::placeholder{
    color:#fff;
}

header .search .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

@media(max-width: 991px){
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}

.banner{
    background: #4414a3;
    background-image: linear-gradient(to top, black 15%, rgba(0, 0, 0 ,0));
    padding: 200px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content{
    max-width: 700px;
}

.banner .content h2{
    color: #fff;
    font-size: 3em;
}

.banner .content p{
    color: #fff;
    font-size: 1em;
}

.banner .content a{
    display: inline-block;
    position: relative;
    color: #9900ffb1;
    padding: 10px 30px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 2px;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
}

.banner .content a:hover{
    background: #9900fffe;
    color: #111;
    box-shadow: 0 0 50px #9900fffe ;
    transition-delay: 0.5s;
}

.banner .content a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #9900ffb1;
    border-left: 2px solid #9900ffb1;
    transition: 0.5s;
}

.banner .content a:hover:before{
    width: 100%;
    height: 100%;
}

.banner .content a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #9900ffb1;
    border-right: 2px solid #9900ffb1;
    transition: 0.5s;
}

.banner .content a:hover:after{
    width: 100%;
    height: 100%;
}



.banner .image{
    max-width: 250px;
    margin-right: 500px;
    margin-bottom: 100px;
    border-radius: 60px;
    transition: 1s;
}

.banner .image:hover{
    box-shadow: 0 0 25px #f3e22082;

}

.table{
    overflow-y: scroll;
    height: 85px;
    width: 68vw;
}


body{
    background-image: url(https://wallpaperaccess.com/full/1706697.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin-top: 200px;
}

.tabela-veiculos{
    color: #fff;
}

footer{
    background-image: linear-gradient(to top, rgb(21, 0, 52) 50%, rgba(0, 0, 0, 0));
    height: auto;
    width: 100%;
    padding-top: 48px;
    color: #fff;
    margin-top: 198px;
    text-align: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li{
    margin:0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
}

.social a:hover i{
    color: rgb(147, 42, 147);
}

.footer-bottom{
    background: rgb(21, 0, 52);
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.btn-cds button{
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.90rem;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    border-radius: 5px;
}

.btn-cds button:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: rgb(255, 0, 255);
    box-shadow: 0 0 35px var(--clr);
}

.btn-cds button::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.btn-cds button span{
    position: relative;
    
}

.btn-cds button i{
    position:absolute;
    inset: 0;
    display: block;
}

.btn-cds button i::before{
    content:'';
    position:absolute;
    top: -3.5px;
    left: 80%;
    width: 15px;
    height: 10px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    border-radius: 2px;
    background: #27282c;
    transition: 0.5s;
}

.btn-cds button:hover i::before{
    width: 20px;
    left: 20%;
    border: 2px solid var(--clr);
}

.btn-cds button i::after{
    content:'';
    position:absolute;
    bottom: -3.5px;
    left: 20%;
    width: 15px;
    height: 10px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    border-radius: 2px;
    background: #27282c;
    transition: 0.5s;
}

.btn-cds button:hover i::after{
    width: 20px;
    left: 80%;
    border: 2px solid var(--clr);
}
