
.table{
    overflow-y: scroll;
    height: 85px;
    width: 68vw;
}

.blend{
    width: 100%;
    mix-blend-mode: overlay;
    color: #fff;
    font: 800;
    text-align: center;
    margin: 25px;

}

body{
    background-image: url(https://wallpaperaccess.com/full/1706697.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.tabela-veiculos{
    color: #fff;
}

footer{
    background-image: linear-gradient(to top, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0));
    height: auto;
    width: 100%;
    font-family: "Fira Code";
    padding-top: 48px;
    color: #fff;
    margin-top: 198px;
    text-align: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li{
    margin:0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 1.1rem;
}

.social a:hover i{
    color: rgb(0, 0, 0);
}

.footer-bottom{
    background: rgb(35, 0, 35);
    width: 100%;
    height: auto;
    padding: 15px 0;
    text-align: center;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.btn-cds button{
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.90rem;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

.btn-cds button:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: rgb(255, 0, 255);
    box-shadow: 0 0 35px var(--clr);
}

.btn-cds button::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.btn-cds button span{
    position: relative;
    
}

.btn-cds button i{
    position:absolute;
    inset: 0;
    display: block;
}

.btn-cds button i::before{
    content:'';
    position:absolute;
    top: -3.5px;
    left: 80%;
    width: 15px;
    height: 10px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    border-radius: 2px;
    background: #27282c;
    transition: 0.5s;
}

.btn-cds button:hover i::before{
    width: 20px;
    left: 20%;
    border: 2px solid var(--clr);
}

.btn-cds button i::after{
    content:'';
    position:absolute;
    bottom: -3.5px;
    left: 20%;
    width: 15px;
    height: 10px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    border-radius: 2px;
    background: #27282c;
    transition: 0.5s;
}

.btn-cds button:hover i::after{
    width: 20px;
    left: 80%;
    border: 2px solid var(--clr);
}
